# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/

# Environment variables
.env

# Database
*.db

# Docker
.dockerignore

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log